* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-snap-align: start; 
}

.app {
  height: 100vh;
} 

 .sections {
  width: 100%;
  height: calc(100vh - 80px); 
  position: relative;
  scroll-snap-type: y mandatory;
  scrollbar-width: none; /*for firefox */
  scroll-behavior: smooth;
}

::-webkit-scrollbar{
   display: none;
  }

